<!DOCTYPE html>  
<html>  
<head>  
    <title>home</title>  
</head>  
<body>  
    <h2>Hi, welcome to the website</h2>  
    <a href ="/viewCountries">List All Countries</a><br><br>  
    <a href="/viewUsers">List All Users</a><br><br>
    <a href="/viewAll">Who Added What</a><br><br>
    <div>
      <form action = "/searchUser" method="post">  
        <table>  
          <tr><td>User Search</td><td><input type="text" name="user"></td></tr> 
          <tr><td><input type="submit" value="Submit"></td></tr>  
        </table>  
      </form>
    </div>
    <div>
      <form action = "/searchCountry" method="post">  
        <table>  
          <tr><td>Country Search</td><td><input type="text" name="country"></td></tr> 
          <tr><td><input type="submit" value="Submit"></td></tr>  
        </table>  
      </form>
    </div>
</body>  
</html>